@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

:root {
--gray-low: hsl(0, 0%, 98%);
--gray-medium: hsl(0, 0%, 41%);
--gray-high: hsl(0, 0%, 8%);
}



*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue';
}

header {
  display: flex;
  width: 100%;
  min-width: 850px;
  box-sizing: border-box;
  padding: 20px;
  align-items: center;  
  justify-content: space-between;
}

.header-icons {
  margin-right: 20px;
}

#win-shadowed {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(17, 19, 19, 0.747);
    z-index: 1;
}

.header-right {
  align-items: center;
  justify-content: space-between;
  width:100%;
}

#close-menu {
    display: none;
}

#hamburguer-menu {
    display: none;
    float: right;
    width: 30px;
    cursor: pointer;
  
}
#register {
    padding: 10px 20px;
    border-radius: 13px;
    margin-left: 10px;
    border: 2px solid var(--gray-medium);
}

#register:hover {
   background-color: var(--gray-medium); 
   color: var(--gray-low);
}



a {
    text-decoration: none;
    color: var(--gray-medium)
}

p {
    font-size: 18px;
    color: var(--gray-medium)
}
.hidden {
    display: none;
}

.shown {
    /* background-color: orange; */
    position: absolute;
    transform: translateX(-30%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 50px 5px rgba(173, 173, 177, 0.603);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--gray-low);
    z-index: 5;
} 

li  img {
    margin-right: 10px;
}
#features.li  {
    position: relative;
}



ul { 
    list-style: none;
}

li {
    color: var(--gray-medium);
    
}
nav > ul {
    /* background-color: antiquewhite; */
    display: flex;
    gap: 30px;
    /* flex-wrap: nowrap; */

}



#auth {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 10px;
}

/* ========================================================= */






.container {
    display: flex;
    min-width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

main {
    max-width: 900px;
    min-width: 800px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    

}

.content {
    width: 50%;
    /* background-color: aqua; */
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.content a {
    background-color: var(--gray-high);
    color: var(--gray-low);
    padding: 15px 15px;
    border-radius: 10px;
    width: 150px;
    text-align: center;
}

.content a:hover{
    background-color: var(--gray-low);
    color: var(--gray-high);
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid var(--gray-high)
}

.content p {
    line-height: 1.5rem;
    /* margin: 50px 0 70px 0; */
}
h1 {
    font-weight: 700;
    font-size: 4em;
    margin-top: 40px
}

#remote-work{
  display: block;
}


.hero-img-desktop {
    display: block;
    width: 100%;
    height: 100%;
}

.hero-img-mobile {
    display: none;
    width: 100%;
    height: 100%;
}

.logos {
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    /* background-color: orange; */
}




























@media screen and (min-width: 401px) {
  .header-right {
    display: flex !important;
  }
  #hamburguer-menu {
    display: none !important;
 }
}

@media screen and (max-width: 400px) {
  body {
    position: relative;
    box-sizing: border-box;
  }
  header {
    min-width: 100%;
    /* background-color: orange; */
    padding: 20px 0 20px 12px;
  }

  .header-right {
    display: none;
    position: fixed;
    background-color: var(--gray-low);
    width: 250px;
    height: 100vh;
    right: 0;
    top: 0;
    flex-direction: column;
    justify-content: normal;
    align-items: start;
    gap: 30px;
    z-index: 2;
    padding: 20px;
  }

  .shown {
    /* background-color: orange; */
    position: relative;
    transform: none;
    padding: 20px;
    border-radius: 0;
    box-shadow: none;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--gray-low);
    z-index: 5;
  }

  .arrow {
    margin-left: 5px;
    transform: translateY(-50%);
  }

  #logo {
    position: absolute;
    
  }

  #auth {
    flex-direction: column;
    align-self: center
  }
  
  .header-icons{
    width: 100%;
  }

  #close-menu {
    display: block;
    align-self: end;
    width: 30px;
    cursor: pointer;
  }

  #hamburguer-menu {
    display: block;
    /* background-color: turquoise; */
  }

  #register {
    width: 100%;
    text-align: center;
  }

  nav > ul {
    flex-direction: column;
    gap: 20px;
    padding-left: 0;
    align-self: flex-end;

  }

  nav {
    align-self: start;
  }


  /* ========================================  */
  main {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* background-color: aqua; */
  }
  
  .content {
    order: 1;
    width: 100%;

    /* background-color: turquoise; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  h1 {
    font-weight: 700;
    font-size: 2rem;
    /* margin: 50px 0 0 0; */
  }
  #remote-work{
    display: inline-block;
  }
  
  .content p {
    line-height: 1.5rem;
    margin: 50px 0 50px 0;
    text-align: center;
  }

  .content  a {
    background-color: var(--gray-high);
    width: 150px;
    margin-bottom: 30px ;
    transform: translateY(-20px);
  }

  
  .hero-img-mobile {
    display: block;
    width: 100%;
    height: auto;
    /* background-color: rgb(255, 228, 196, 0.8); */
  }

  .hero-img-desktop {
    display: none;
  }

  .logos {
    bottom: -50px;
  }

  .logos img {
    width: 18%;
  }

}