@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

:root {
--gray-low: hsl(0, 0%, 98%);
--gray-medium: hsl(0, 0%, 41%);
--gray-high: hsl(0, 0%, 8%);
}



body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue';
}

header {
  display: flex;
  /* background-color: aqua; */
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  align-items: center;        /* alinha verticalmente */
  justify-content: space-between; /* empurra o #auth para a direita */
}

.header-left {
  display: flex;
  /* background-color: aqua; */
  align-items: center;
  justify-content: space-between;
}

#register {
    padding: 10px 20px;
    border-radius: 13px;
    margin-left: 10px;
    border: 2px solid var(--gray-medium);
}

#register:hover {
   background-color: var(--gray-medium); 
   color: var(--gray-low);
}



a {
    text-decoration: none;
    color: var(--gray-medium)
}

p {
    font-size: 18px;
    color: var(--gray-medium)
}
.hidden {
    display: none;
}

.shown {
    /* background-color: orange; */
    position: absolute;
    transform: translateX(-30%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 50px 5px rgba(173, 173, 177, 0.603);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--gray-low);
    z-index: 5;
} 

li  img {
    margin-right: 10px;
}
#features.li  {
    position: relative;
}



ul { 
    list-style: none;
}

li {
    color: var(--gray-medium); 
    cursor: pointer;
}
nav > ul {
    /* background-color: antiquewhite; */
    display: flex;
    gap: 30px;

}


#auth {
    display: flex;
    align-items: center;
    gap: 20px;

}


.container {
    display: flex;
    min-width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

main {
    /* background-color: rgb(182, 147, 83); */
    /* width: 70%;
    height: 80%; */
    min-width: 900px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.content {
    width: 50%;
    /* background-color: aqua; */
    position: relative;
}

.content a {
    background-color: var(--gray-high);
    color: var(--gray-low);
    padding: 10px 20px;
    border-radius: 10px;
}

.content a:hover{
    background-color: var(--gray-low);
    color: var(--gray-high);
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid var(--gray-high)
}

.content p {
    line-height: 1.5rem;
    margin: 50px 0 70px 0;
}
h1 {
    font-weight: 700;
    font-size: 4em;
    margin: 50px 0 0 0;
}


#hero-img img {
    width: 100%;
    height: 100%;
}

.logos {
    /* background-color: blue; */
    position: absolute;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
    bottom: 0;
    width: 100%;
}


